name: SonarCloud

on:
  push:
    branches:
      - main
      - module-2-exercise
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Fix gradlew permission
        run: chmod +x gradlew

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: Build + Test + Coverage
        run: ./gradlew clean test jacocoTestReport

      - name: SonarCloud Scan
        run: ./gradlew sonar
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}